// out: false

@import "lesshat";

//*** Screen 480+
@media (min-width: 30em) {
    header {
        .head-teaser {
            background-image: url('../images/bg_header-large.jpg');
            background-size: cover;
            .text {
                width: 40%;
                padding-top: 60px;
                text-align: left;
            }           
        }
    }
}

//*** Screen576+
@media (min-width: 36em) {
    header {
        .head-teaser {
            .pic {
                left: -10px;
                bottom: 60px;
                .size(350px,225px);                
                background-size: auto 225px;
            }
            .circle {
                left: -100px;
                .size(370px,370px);                
            }
        }
    }
}

//*** Screen 768+
@media (min-width: 48em) {
    header {        
        .head-top {
            padding-left: 1rem;
            padding-right: 1rem;
            .call,
            .social-icons {
                .visible;
            }
            .call {        
                .flex(2);    
                width: 620px;            
                background-image: url('../images/bg_header-call.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                button {
                    background-image: url('../images/button_header-call.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    .size(200px,40px);
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    text-indent: -9000px;
                    text-transform: capitalize;
                }
            }
            .burger,
            .social-icons {
                .flex(1);
            }
            .mobile-phones {
                .flex(0);
                .hidden;
            }
        }
        .head-teaser {
            height: 494px;
            .pic {
                left: 10px;
                bottom: 30px;
                .size(530px,405px);
                background-size: auto 405px;
                background-image: url('../images/pic_header-plan-medium.png');
            }
            .text {
                width: 26%;
                padding-top: 140px;
                .accent {
                    font-size: 2.5rem;
                }
                .small {
                    font-size: 1rem;
                }
            }
        }
        .head-main {
            height: 100px;
            padding-left: 10px;
            padding-right: 10px;   
            line-height: 1.4;
            padding-bottom: 10px;
            .align-items(flex-end);
            .phones,
            .adress {
                .visible;            
            }
            .adress {
                text-align: right;
                font-size: 0.75rem;
                strong {
                    font-size: 0.875rem;
                }
            }
            .phones {
                text-align: center;
                .order(2);
                .flex(2);
                span {
                    font-size: 0.75rem;
                }
            }
            a {
                color: inherit;
            }
        }        
        .logo {
            .order(1);
            .flex(1);
            .size(228px,82px);
            background-image: url('../images/logo-horisontal.svg');
            background-position-x: left;
        }
    }
    .head-search {
        .wrapper {
            max-width: 770px;
        }
        .selector {
            margin-top: -74px;
            .items {
                .flexy;
                .full-aligned;
                .nowrap;
                li {
                    height: auto !important;
                    opacity: 1 !important;
                    overflow: visible !important;
                    visibility: visible !important;
                    .flex(1);
                    .flex-direction(column);
                    padding: 13px 20px;
                    &.active {
                        background-color: @gunmetal;
                    }
                }
            }
            .icon {
                font-size: 3rem;
                margin-right: 0;
            }
            .name {
                width: 0;
                .hidden;
            }
            .toggle {
                display: none;
            }
        }
        form {
            .flexy;
            .h-aligned;
            .nowrap;
            & > .spec {
                margin-right: 20px;
                min-width: 240px;
                & > * {
                    width: 100%;
                }
            }
        }
        .field-group {            
            .flexy;
            .h-aligned;
            &.gridy {
                .flex(1);
                .flex-wrap(wrap);
                .align-items(flex-start);
                & > * {                    
                    width: 225px;
                }
            }
        }
    }
}

//*** Screen 960+
@media (min-width: 60em) {
   header {
    .burger {
        .hidden;
    }
    .head-teaser {
        height: 534px;
        .pic {
            bottom: 60px;
        }
        .text {
            width: 36%;
            padding-top: 105px;
            .accent {
                font-size: 3rem;
            }
            .small {
                font-size: 1.25rem;
            }
        }
    }
    .head-nav {            
        display: block;
        margin: 0 auto;
        max-width: 1120px;
        text-align: center;        
        ul {                
            .flexy;
            .spread;
        }
        a {
            display: inline-block;
            padding-top: 22px;
            padding-bottom: 22px;
        }
    }
   }
   .head-search {
    .selector {
        margin-top: -114px;
        .name {
            width: 100%;
            margin-top: 12px;
            .visible;
            text-align: center;
            font-size: 0.75rem;
        }
    }    
   }   
}

//*** Screen 1280+
@media (min-width: 80em) {
    header {
        .head-nav {
            max-width: 80%;
        }        
        .head-main {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .head-search {
        .wrapper {
            max-width: 1120px;
        }
        .selector {
            .items {
                li {
                    padding: 20px;
                }            
            }
            .name {
                font-size: 0.875rem;
            }
        }
        form {
            & > .spec {
                min-width: 260px;
            }
        }
        .field-group {            
            &.gridy {
                & > * {                    
                    width: 240px;
                }
            }
        }
    }
}

//*** Screen 1920+
@media (min-width: 120em) {}