// out: ../css/style.css, compress: false, sourceMap: false

@import: 'fonts';
@import: 'colors';

/*========== VARS ==========*/
@font-roboto: 'Roboto', sans-serif;


html, body {
    font-family: @font-roboto;
}
body {
    font-size: 16px;
}