// out: ../css/style.css, compress: false, sourceMap: false
@import "fonts";
@import "colors";
@import "lesshat";
@import "fa-var";
@import "fa-icon";
/*========== VARS ==========*/

@font-roboto: 'Roboto',
sans-serif;
/* =Colors= */

.bg-white {
    color: @gunmetal;
    background-color: #ffffff;
    .field {
        input[type="text"]:not(:focus),
        textarea,
        .selection {
            &,
            & .default.text {
                color: @gunmetal;
            }
        }
    }
}

.bg-red {
    color: #ffffff;
    background-color: @red;
    a&:hover {
        color: @yellow;
    }
}

.bg-yellow {
    color: @nero;
    background-color: @yellow;
}

.bg-gunmetal {
    color: @hose;
    background-color: @gunmetal;
    .field {
        input[type="text"]:not(:focus),
        textarea,
        .selection {
            color: #ffffff;
            background-color: @gunmetal;
            border-color: @gunmetal-shade-light  !important;
            &.visible.dropdown>.text:not(.default) {
                color: #ffffff;
            }
        }
    }
    .range .inner .track {
        background-color: @gunmetal-shade-dark;
    }
    button {
        color: #ffffff;
        background-color: @red;
    }
}

.bg-nero {
    color: @smoky;
    background-color: @nero;
}

.bg-hose {
    color: #ffffff;
    background-color: @hose;
    a&:hover {
        color: @yellow;
        background-color: @hose-shade-dark;
    }
}

.bg-smoky {
    color: @gunmetal;
    background-color: @smoky;
}

.bg-city {
    background-color: @smoky;
    background-image: url('../images/bg_city.svg');
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: auto 162px;
}

.bg-how {
    background-image: url('../images/bg_how.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

/*========== Flexy flex elements ==========*/

.flexy {
    .display(flex);
}

.nowrap {
    .flex-wrap(nowrap);
}

.v-centered {
    .align-items(center);
}

.full-centered {
    .align-items(center);
    .justify-content(center);
}

.spread {
    .align-items(center);
    .justify-content(space-around);
}

.h-aligned {
    .justify-content(space-between);
}

.full-aligned {
    .align-items(center);
    .justify-content(space-between);
}

.flex-row {
    .display(flex);
    .flex-direction(row);
    .flex-wrap(nowrap);
    .align-items(center);
}

.flex-col {
    .display(flex);
    .flex-direction(column);
}

* {
    &,
    &::before,
    &::after {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    font-family: @font-roboto;
}

body {
    color: @gunmetal;
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .bg-smoky;
    .normal {
        display: block;
    }
    .opened {
        display: none;
    }
    &.menu-open {
        .normal {
            display: none;
        }
        .opened {
            display: block;
        }
    }
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: @font-roboto  !important;
    /* mobile firefox too! */
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

button,
.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    vertical-align: baseline;
    outline: 0;
    border: none;
    font-family: @font-roboto;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    padding: .5em 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: .25rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    &.clear {
        background-color: transparent;
    }
    &.wide {
        min-width: 280px;
    }
}

h2 {
    font-size: 1.875rem;
    font-family: Appetite;
    color: @gunmetal;
    small {
        display: block;
        color: @fog-shade-dark;
        font-size: 1rem;
        margin-bottom: 0.75em;
    }
    .bg-gunmetal & {
        color: #ffffff;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
    &.display {
        font-family: Appetite;
    }
    .sidebar & {
        color: @hose;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

strong {
    font-weight: 600;
}

p {
    margin: 0 0 1em;
    line-height: 1.4285em;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: @red;
    text-decoration: none;
    &:hover {
        color: @bloody-red;
        text-decoration: none;
    }
}

.padded {
    &-left {
        padding-left: 10px;
    }
    &-right {
        padding-right: 10px;
    }
    &-top {
        padding-top: 10px;
    }
    &-bottom {
        padding-bottom: 10px;
    }
}

.wrapper {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-align: center;
}

.size-limiter {
    max-width: 1170px;
}

.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.visible {
    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cornered {
    .border-radius(4);
}

.basic-shadow {
    box-shadow: 0px 4px 6px 0 rgba(34, 36, 38, 0.15);
}

.liner {
    position: relative;
    padding-bottom: 0.75em;
    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        height: 1px;
        display: block;
        content: '';
    }
    &::before {
        left: 0;
        width: 34px;
        background-color: @yellow;
    }
    &::after {
        left: 36px;
        right: 0;
        background-color: @hose;
        .bg-hose & {
            background-color: @smoky;
        }
    }
}

.twister {
    .flexy;
    .flex-direction(column);
}

sup {
    vertical-align: super;
    font-size: 0.5em;
}

.modal {
    .size-small {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
    }
}

.page {
    .wrapper {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    section p {
        text-align: center;
    }
    h2:not(.liner) {
        margin-bottom: 1.1em;
        text-transform: uppercase;
    }
    .bg-white {
        .ui.form {
            input[type="text"],
            textarea,
            .selection {
                background-color: @smoky;
                &::placeholder,
                .default.text {
                    color: @hose-shade-dark;
                }
            }
            .default.text {
                color: @hose-shade-dark;
            }
        }
    }
    .page-header {
        h2 {
            margin-bottom: 1.5em;
        }
    }
    .sidebar {
        margin-top: 2em;
        .aside {
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Mainpage 
header {
    position: relative;
    .head-top {
        line-height: 40px;
        a {
            color: inherit;
        }
        .burger {
            text-align: left;
            button {
                color: inherit;
                padding-top: 0;
                padding-bottom: 0;
                background-color: transparent;
            }
        }
        .call,
        .social-icons {
            .hidden;
            .flex(0);
        }
        .mobile-phones {
            .flex(1);
            text-align: right;
            span {
                opacity: 0.65;
            }
        }
        .social-icons {
            .display(flex);
            .align-items(center);
            .justify-content(flex-end);
            a {
                padding-left: 4px;
                padding-right: 4px;
                margin-left: 5px;
                margin-right: 5px;
                height: 40px;
            }
            .avito {
                .size(20px,
                20px);
                background-color: @gunmetal;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px auto;
                background-image: url('../images/icon-avito.svg');
            }
        }
    }
    .head-main {
        color: @hose;
        .wrapper {
            height: 120px;
            padding-top: 0;
            padding-bottom: 0;
        }
        .phones,
        .adress {
            .hidden;
            .flex(1);
        }
        .phones {
            .order(1);
        }
        .adress {
            .order(3);
        }
    }
    .head-nav {
        position: absolute;
        display: none;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 100;
        &>ul>li {
            width: 100%;
        }
        .nav-link {
            color: inherit;
            padding: 12px 10px;
            .display(flex);
            .justify-content(space-between);
            &:hover {
                background-color: @smoky;
            }
            span {
                //::first-letter
                // text-transform: capitalize;
                text-transform: uppercase;
            }
        }
        .ui.inverted.yellow.menu {
            .bg-yellow;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            a.item:hover {
                background-color: @smoky;
                color: @gunmetal;
            }
        }
    }
    .head-submenu {
        .wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        ul {
            .flexy;
            .twister;
            .align-items(flex-start);
            &>li {
                margin-bottom: 4px;
            }
        }
        .link {
            .flexy;
            font-size: 0.875rem;
            .text,
            .count {
                .border-radius(2);
                padding: 10px 6px;
                color: #ffffff;
            }
            .text {
                font-weight: 600;
                .flex(1);
                color: @gunmetal;
                background-color: rgba(255, 255, 255, 0.4);
            }
            .count {
                font-weight: 200;
                margin-left: 2px;
                min-width: 36px;
                background-color: rgba(255, 255, 255, 0.2);
            }
            &:hover {
                .text {
                    color: @nero;
                    background-color: rgba(255, 255, 255, 0.75);
                }
            }
        }
        .active {
            .text {
                color: #ffffff;
                background-color: @hose-shade-dark;
            }
        }
    }
    .logo {
        .flex(2);
        .order(2);
        .size(123px,
        96px);
        background-image: url('../images/logo-vertical.svg');
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;
        h1 {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            .hidden;
        }
    }
    .head-teaser {
        position: relative;
        overflow: hidden;
        height: 300px;
        z-index: 1;
        background-image: url('../images/bg_header-small.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        .circle,
        .pic {
            position: absolute;
        }
        .circle {
            left: -120px;
            bottom: -120px;
            z-index: 2;
            .border-radius(50%);
            .size(310px,
            310px);
            background-color: #ffffff;
        }
        .pic {
            left: -70px;
            bottom: 80px;
            z-index: 3;
            .size(310px,
            185px);
            background-image: url('../images/pic_header-plan-medium.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 185px;
        }
        .text {
            width: 45%;
            padding-top: 15px;
            margin-left: auto;
            margin-right: 5%;
            text-align: right;
            text-transform: uppercase;
        }
        .small {
            font-size: 0.875rem;
        }
        .accent {
            line-height: 1.1;
            font-size: 2rem;
            font-family: 'Appetite';
            color: @gunmetal;
            margin-bottom: 0.5rem;
            em {
                color: @smoky;
            }
        }
    }
}

.head-search {
    z-index: 2;
    position: relative;
    .wrapper {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    label {
        font-weight: 200;
    }
    .selector {
        margin-top: -50px;
        color: @smoky;
        position: relative;
        background-color: rgba(43, 48, 58, 0.85);
        li {
            .flexy;
            .v-centered;
            padding: 13px 20px;
            cursor: pointer;
            transition: all 0.2s ease;
            &:not(.active) {
                &:not(.visible) {
                    .hidden;
                }
                .icon {
                    color: @hose;
                }
                height: 0;
                padding: 0;
            }
            &.active,
            &.visible {
                height: auto;
                padding: 13px 20px;
            }
        }
        .toggle {
            position: absolute;
            top: 0;
            right: 4px;
            margin: auto;
            font-size: 1.25rem;
            line-height: 30px;
            color: inherit;
            padding: 0.5rem 1.125rem;
        }
    }
    .name {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    .icon {
        color: #ffffff;
        font-size: 1.5rem;
        font-family: 'Fontello';
        font-style: normal;
        font-weight: normal; // speak: none;
        display: inline-block;
        width: 1em;
        margin-right: .4em;
        margin-right: .4em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
    }
    .flats {
        &::before {
            content: '\e824';
        }
    }
    .resale {
        &::before {
            content: '\e823';
        }
    }
    .country {
        &::before {
            content: '\e821';
        }
    }
    .exclusive {
        &::before {
            content: '\e813';
        }
    }
    .commerce {
        &::before {
            content: '\e81e';
        }
    }
    .rent {
        &::before {
            content: '\e801';
        }
    }
    .land {
        &::before {
            content: '\e817';
        }
    }
}

.main-offers {
    margin-top: -175px;
    padding-top: 175px;
    .grid {
        margin-bottom: 2em;
    }
}

.main-services {
    padding-left: 5%;
    padding-right: 5%;
    .liner {
        margin-bottom: 1.25rem;
    }
    p {
        color: @gunmetal;
    }
    .pic {
        margin-top: 20px;
        img {
            display: block;
            border: @smoky 5px solid;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .list {
        ul {
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            a {
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 600;
                padding-top: 15px;
                padding-bottom: 15px;
                display: inline-block;
                line-height: 1.47;
            }
            li {
                text-align: left;
                width: 100%;
                padding-left: 20px;
                position: relative;
                display: inline-block;
                &::before {
                    line-height: 1;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 18px;
                    font-size: 18px;
                    font-family: "FontAwesome";
                    content: '\f101';
                }
            }
        }
    }
}

.main-about {
    .accent {
        font-size: 1.5rem;
        strong {
            display: inline-block;
            width: 100%;
        }
    }
    .para {
        margin-bottom: 3rem;
        p {
            margin-bottom: 2rem;
        }
    }
    .guild {
        .size(196px,
        196px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -140px;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.main-how {
    padding-top: 100px;
    h2 {
        color: #ffffff;
    }
    figure {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25em;
        margin-bottom: 3em;
        max-width: 400px;
        .icon {
            font-size: 2rem;
            color: @yellow;
            margin-bottom: 20px;
        }
    }
    figcaption {
        p {
            color: @fog;
            font-size: 0.875rem;
            strong {
                font-size: 1.125rem;
                text-transform: uppercase;
                margin-bottom: 20px;
                max-width: 250px;
                display: inline-block;
                line-height: 1.47;
            }
        }
    }
}

.main-features {
    .item {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .pic {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .text {
        margin-bottom: 2.25em;
        h2 {
            margin-top: 0.85em;
            margin-bottom: 0.85em;
        }
        p,
        h2 {
            text-align: left;
        }
    }
    p {
        font-size: 0.875rem;
    }
}

.main-reviews {
    padding-bottom: 60px;
    .slider {
        margin-bottom: 40px;
        .slider-arrow {
            bottom: 24%;
        }
        .slide-item {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .text {
            margin-left: auto;
            margin-right: auto;
            padding: 20px 15%;
        }
        .person {
            margin-bottom: 30px;
        }
    }
}

.main-partners {
    ul {
        margin-top: 4em;
        margin-bottom: 2em;
        .justify-content(space-around);
        .align-items(center);
        .flex-wrap(wrap);
        li {
            .size(160px,
            120px);
            cursor: pointer;
            transition: all 0.8s ease;
            .flex-shrink(0);
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 0 -120px;
            &.vtb {
                background-image: url('../images/logo_vtb.png');
            }
            &.sber {
                background-image: url('../images/logo_sber.png');
            }
            &.sfk {
                background-image: url('../images/logo_sfk.png');
            }
            &.svbereg {
                background-image: url('../images/logo_svbereg.png');
            }
            &.ksm {
                background-image: url('../images/logo_ksm.png');
            }
            &.gepard {
                background-image: url('../images/logo_gepard.png');
            }
            &:hover {
                background-position-y: 0;
            }
        }
    }
}

footer {
    .left {
        min-width: 100%;
        .display(flex);
        .flex-direction(column);
        .justify-content(center);
    }
    .right {
        .flex-wrap(wrap);
    }
    .logo {
        .size(155px,
        126px);
        margin-left: auto;
        margin-right: auto;
        background: url('../images/logo-vertical-smoke.svg') 0 0 no-repeat;
    }
    .social {
        .display(flex);
        .justify-content(center);
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        .icon {
            color: @hose;
            font-size: 1.1rem;
            text-align: center;
            display: inline-block;
            margin-left: 18px;
            margin-right: 18px;
            line-height: 30px;
            .border-radius(50%);
            .size(30px,
            30px);
            background-color: @gunmetal;
            &.avito {
                background-image: url('../images/icon-avito.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 20px auto;
            }
        }
    }
    h3 {
        color: @smoky;
        text-align: left;
        font-size: 1rem;
        font-weight: 600;
    }
    .section {
        .flex(1);
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 2.5em;
        text-align: left;
        a {
            color: @yellow;
        }
    }
    .about {
        font-size: 0.75rem;
    }
    .links {
        ul {
            .flex(1);
            margin: 8px;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        li {
            padding-left: 16px;
            position: relative;
            &::before {
                font-family: "FontAwesome";
                content: '\f101';
                color: @hose;
                font-size: 16px;
                line-height: 20px;
                display: block;
                position: absolute;
                top: 4px;
                left: 0;
            }
        }
        a {
            position: relative;
            font-size: 0.875rem;
            font-weight: 200;
            display: inline-block;
            padding-top: 8px;
            padding-bottom: 12px;
            &:hover {
                color: @fog;
            }
        }
    }
    .category-links {
        a {
            color: #ffffff;
        }
    }
    .about {
        .text {
            padding: 14px 0;
        }
    }
    .bottom {
        &.wrapper {
            padding: 1em;
        }
        p,
        a {
            font-size: 0.75rem;
        }
    }
    .divider {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .policy {
        color: #999999;
        a {
            color: #ffffff;
        }
    }
    .copy {
        color: #aaaaaa;
        p {
            line-height: 2.5;
        }
    }
}

.feedback {
    label {
        text-align: left;
    }
    .size-limiter {
        max-width: 640px;
    }
    .note {
        font-size: 0.875rem;
        margin-bottom: 2em;
    }
    .form {
        margin-bottom: 2.4em;
    }
}

.person {
    .name {
        color: @red;
        padding-top: 10px;
    }
    .sign {
        color: @hose;
        padding-top: 5px;
        font-size: 0.75rem;
    }
}

.avatar {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .size(100px,
    100px);
    .border-radius(50%);
    background-size: 100px auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ui {
    &.table {
        thead {
            th {
                background-color: @smoky;
            }
        }
    }
    &.popup {
        text-align: center;
        font-size: 0.875rem;
    }
    &.form {
        .form-item {
            margin-bottom: 20px;
            .field {
                margin-bottom: 0;
            }
        }
        .ranger {
            .field {
                width: 80px;
            }
            .first {
                margin-left: auto;
            }
            .last {
                margin-right: auto;
            }
            .spacer {
                width: 20px;
            }
        }
        .selection {
            .fa {
                cursor: pointer;
                position: absolute;
                width: auto;
                height: auto;
                line-height: 2;
                top: 0;
                font-size: 1.4em;
                right: 0;
                bottom: 0;
                z-index: 3;
                margin: 0;
                padding: 0 14px;
                opacity: .8;
            }
        }
        button {
            max-width: 280px;
            width: 100%;
        }
        .expand-collapse {
            a {
                font-size: 0.875rem;
                font-weight: 600;
            }
        }
    }
    &.modal {
        .header {
            text-align: center;
        }
    }
}

.filter-panel {
    .flexy;
    font-size: 0.875rem;
    .buttons-panel {
        border-left: @hose 1px solid;
        padding-left: 1.5em;
        text-align: right;
        button {
            font-size: inherit;
            font-weight: 600;
            text-transform: unset;
            &:active {
                background-color: @smoky;
            }
        }
    }
    .filters {
        padding-top: 5px;
        padding-bottom: 5px;
        .flexy;
        .v-centered;
        label {
            padding-left: 15px;
            padding-right: 15px;
        }
        .flex(1);
        .fa {
            margin-left: 5px;
            font-size: 0.75rem;
            color: @red;
        }
    }
}

.toolbar {
    .wrapper {
        padding: 0 10px;
        text-align: left;
    }
    .breadcrumb {
        padding: 5px 0;
        &>* {
            line-height: 1.47;
        }
        a {
            &:hover {
                color: @red;
            }
        }
        .section {
            padding-left: 6px;
            padding-right: 6px;
            color: @gunmetal;
            font-size: 0.75rem;
            font-weight: 200;
            text-transform: uppercase;
            &.home {
                padding-left: 0;
                .fa {
                    font-size: 0.875rem;
                }
            }
        }
        .active.section {
            font-weight: 200;
        }
    }
}

.price {
    color: @red;
    font-size: 1.125rem;
    font-weight: 600;
    .credit {
        color: @gunmetal;
        font-weight: 200;
        font-size: 0.75rem;
        text-align: right;
        em {
            font-size: 1.125rem;
        }
    }
}

.info-box {
    p {
        font-size: 0.875rem;
        font-weight: 200;
        margin-bottom: 1em;
        small {
            display: block;
            font-weight: 600;
            font-size: 0.75rem;
        }
    }
}

.realty {
    a {
        color: inherit;
    }
    h3 {
        font-weight: 400;
        font-size: 1rem;
        color: @gunmetal;
        margin-bottom: 10px;
        line-height: 1.47;
    }
    .type {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        font-family: @font-roboto;
        padding: 0.5rem 0.65rem;
        font-size: 0.75rem;
    }
    .price {
        border-top: @hose 1px solid;
        padding-top: 10px;
        margin-top: 10px;
        .value {
            text-align: left;
            line-height: 2.15;
        }
    }
    .location {
        font-size: 0.875rem;
        line-height: 1.47;
        text-align: left;
        color: @hose;
        position: relative;
        padding-left: 16px;
        i {
            position: absolute;
            left: 0;
            top: 0;
            margin-right: 5px;
        }
    }
    .pic {
        position: relative;
        min-width: 100%;
        overflow: hidden;
        margin: -1rem -1rem 1rem -1rem;
        background-color: @smoky;
        &.empty {
            text-align: center;
            &::before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                line-height: 1;
                font-family: Fontello;
                color: @hose;
                font-size: 5rem;
                position: absolute;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
    }
    .segment {
        overflow: hidden;
        .basic-shadow;
    }
    .item {
        &.flats {
            .type {
                color: #ffffff;
                background-color: @red;
            }
            .empty {
                &::before {
                    content: '\e824';
                }
            }
        }
        &.resale {
            .type {
                color: #ffffff;
                background-color: @gunmetal-shade-light;
            }
            .empty {
                &::before {
                    content: '\e823';
                }
            }
        }
        &.country {
            .type {
                color: @gunmetal;
                background-color: @yellow;
            }
            .empty {
                &::before {
                    content: '\e821';
                }
            }
        }
        &.exclusive {
            .type {
                color: @smoky;
                background-color: @gunmetal;
            }
            .empty {
                &::before {
                    content: '\e813';
                }
            }
        }
        &.commerce {
            .type {
                color: @gunmetal;
                background-color: @hose;
            }
            .empty {
                &::before {
                    content: '\e81e';
                }
            }
        }
        &.rent {
            .type {
                color: @gunmetal-shade-light;
                background-color: @nero;
            }
            .empty {
                &::before {
                    content: '\e801';
                }
            }
        }
        &.land {
            .type {
                color: @gunmetal;
                background-color: @smoky;
            }
            .empty {
                &::before {
                    content: '\e817';
                }
            }
        }
    }
    &.aside {
        padding-left: 20px;
        padding-right: 20px;
    }
    &.list {
        margin-bottom: 2em;
        .pic {
            &.empty {
                min-height: 290px;
            }
        }
        .details {
            text-align: left;
        }
        h3 {
            .flex-grow(0);
            font-size: 1.125rem;
            font-weight: 600;
        }
        .location+.info-box {
            padding-top: 6px;
        }
        .info-box {
            p {
                text-align: left;
                margin-bottom: 0.5em;
            }
        }
        .price {
            .display(flex);
            .flex-direction(row);
            .justify-content(space-between);
        }
        .item {
            padding: 1rem 0;
        }
    }
    &.grid {
        h3 {
            .flex(1);
        }
        .price {
            text-align: center;
        }
        .pic {
            &.empty {
                height: 170px;
            }
        }
        .segment {
            .display(flex);
            .flex-wrap(nowrap);
            .flex-direction(column);
        }
        .details {
            .flex(1);
            .display(flex);
            .flex-wrap(nowrap);
            .flex-direction(column);
            min-height: 115px;
        }
    }
}

.inner-nav {
    h3 {
        font-weight: 600;
        margin-top: 2em;
    }
    .button {
        left: 10px;
        top: 45px;
        position: absolute;
        .border-radius(0);
        border-right: #ddd 1px solid;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        color: @hose;
    }
}

.content-column {
    .text {
        p {
            text-align: left;
            line-height: 1.47;
            margin-bottom: 3em;
        }
    }
}

.catalog-list {
    .search-panel {
        padding: 2em 20px;
    }
    .page-header {
        .wrapper {
            padding-bottom: 1rem;
        }
    }
    .innerpage {
        .wrapper {
            padding-top: 0.5rem;
        }
    }
}

.map {
    margin-top: 2em;
    margin-bottom: 2em;
}

.page {
    .image-gallery {
        .pagination {
            margin-top: 2em;
        }
    }
}

.mini-gallery {
    .accent {
        position: relative;
    }
    .navi-arrows {
        .arrow {
            font-size: 2rem;
            color: @hose-shade-dark;
            position: absolute;
            display: block;
            z-index: 3;
            padding: 10px 20px;
            background-color: rgba(255, 255, 255, 0.8);
            top: 50%;
            transform: translateY(-50%);
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
    .images {
        .display(flex);
        .flex-wrap(wrap);
        .align-items(center);
        margin: 10px 0;
        .active {
            border: @sky 2px solid;
        }
        img {
            margin: 0;
        }
        a {
            margin: 0 10px 10px 0;
        }
    }
    .slider-arrow {
        opacity: 0.8;
        z-index: 3;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            left: -10px;
            right: -10px;
            bottom: -10px;
            z-index: 2;
            background-color: #ffffff;
        }
    }
}

.catalog-details {
    .page-header {
        .wrapper {
            padding-bottom: 1em;
        }
        .inner-nav {
            .flex(1);
        }
        .developer {
            margin-top: 1rem;
            font-size: 0.75rem;
            strong {
                display: block;
                font-size: 1rem;
                padding-top: 5px;
            }
        }
    }
    .object-location {
        margin-top: 2em;
        .icon {
            font-size: 2rem;
            padding-bottom: 0.25em;
        }
    }
    .object-specs {
        margin-top: 0;
        .order {
            button {
                width: 100%;
            }
        }
    }
    .object-features {
        margin-bottom: 2em;
        table td {
            font-size: 0.75rem;
        }
    }
    .first {
        .wrapper {
            padding: 10px;
            padding-bottom: 50px;
        }
    }
    .map {
        margin-bottom: 0;
    }
    .credit {
        font-size: 0.75rem;
        padding-right: 48px;
        position: relative;
        width: 100%;
        a {
            color: inherit;
        }
        p {
            text-align: left;
        }
        em {
            font-size: 1.4em;
        }
        &.sber {
            &::before {
                position: absolute;
                right: 8px;
                overflow: hidden;
                top: 0;
                bottom: 0;
                margin: auto;
                display: block;
                content: '';
                width: 36px;
                height: 36px;
                background: url(../images/logo_sber.png) center 8% no-repeat;
                background-size: 50px;
            }
        }
    }
}

.article {
    h3 {
        margin-bottom: 1.5em;
    }
    .article-header {
        margin-bottom: 40px;
    }
    .columned {
        .flex-col;
    }
    .section {
        margin-top: 2em;
    }
    .list {
        text-align: left;
        li,
        .item {
            margin-bottom: 10px;
            line-height: 1.47;
        }
        .item {
            .fa {
                margin-right: 8px;
                color: @red;
            }
        }
    }
}

.files {
    &.list {
        text-align: left;
        .name {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }
        .size {
            color: @hose;
            font-size: 0.75rem;
        }
    }
}

.service {
    .submit {
        .size-limiter {
            max-width: 640px;
        }
        label {
            text-align: left;
        }
    }
}

.about-us {
    .intro {
        margin-top: 20px;
        .wrapper {
            padding-top: 100px;
        }
        .avatar {
            border: #ffffff 5px solid;
            .size(150px,
            150px);
            background-size: 150px 150px;
            position: absolute;
            left: 0;
            right: 0;
            top: -75px;
        }
        .text {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3em;
            max-width: 570px;
        }
        .signature {
            .flex-col;
            .spread;
            .sign {
                margin: 2rem auto;
                .order(3);
            }
            .position {
                .order(2);
            }
            .name {
                .order(1);
            }
        }
    }
}

.members {
    .person {
        padding-top: 40px;
        padding-bottom: 40px;
        .pic {
            img {
                .size(150px,
                150px);
                margin-left: auto;
                margin-right: auto;
            }
        }
        h3 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        figcaption {
            margin-top: 20px;
            margin-bottom: 10px;
            p {
                font-size: 0.875rem;
                font-weight: 200;
            }
        }
        .phone,
        .email {
            a {
                color: @gunmetal;
            }
        }
        .phone {
            margin-bottom: 10px;
            margin-right: 0;
            line-height: 1.25rem;
        }
        .email {
            font-size: 0.75rem;
        }
    }
}

.certificates {
    img {
        border: #ffffff 4px solid;
        display: block;
        max-width: 190px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.jobs {
    h3,
    h4 {
        margin-bottom: 1em;
    }
    .sub-box {
        margin-top: 20px;
        padding-bottom: 2em;
        border-bottom: @hose 1px solid;
    }
    .box {
        padding: 4em;
        &,
        & p {
            text-align: left;
        }
    }
    .list {
        margin-bottom: 2em;
    }
    .recall {
        margin-top: 3em;
        text-align: center;
        .button {
            width: 100%;
            max-width: 280px;
        }
    }
}

.contacts {
    .page-header {
        h2 {
            margin-bottom: 0;
        }
    }
    .map {
        margin-top: 0;
        margin-bottom: 0;
        .wrapper {
            padding: 0;
        }
    }
    .sidebar {
        h3 {
            color: @gunmetal;
        }
    }
    .contact-points {
        margin-bottom: 40px;
        .item {
            margin-top: 10px;
            padding-bottom: 40px;
            p {
                font-size: 0.875rem;
                line-height: 1.47;
                margin-bottom: 5px;
                &.huge {
                    font-size: 1.125rem;
                }
                &.small {
                    font-size: 0.75rem;
                }
                &.strong {
                    font-weight: 600;
                }
            }
        }
        .icon {
            margin-bottom: 20px;
            .size(75px,
            75px);
            margin-left: auto;
            margin-right: auto;
            .border-radius(50%);
            background-color: @smoky;
            color: @hose;
            line-height: 72px;
            font-size: 2.25rem;
            text-align: center;
        }
    }
    .messager {
        label {
            text-align: left;
        }
        .grow-up {
            p {
                font-size: 0.75rem;
            }
        }
    }
    .social {
        .bubbles {
            margin-left: auto;
            margin-right: auto;
            max-width: 780px;
            overflow: hidden;
            .circle {
                margin: 20px;
                .border-radius(50%);
                .size(120px,
                120px);
                background-position: 50% 50%;
                background-color: #ffffff;
                background-repeat: no-repeat;
                background-size: 64px 64px;
                border: @smoky 10px solid;
                transition: width 0.2s ease, height 0.2s ease, border-width 0.2s ease;
                &:hover {
                    .size(124px,
                    124px);
                    border-width: 4px;
                }
            }
            .vk {
                background-image: url('../images/logo-vk.svg');
            }
            .insta {
                background-image: url('../images/logo-insta.svg');
            }
            .avito {
                background-image: url('../images/logo-avito.svg');
            }
        }
    }
}

.promo {
    position: relative;
    &.spb {
        width: 100%;
        height: 480px;
        background-image: url('../images/pic_spb-small-w.png'), url('../images/bg_spb-small.jpg');
        background-position: 110px 50px, -181px center;
        background-repeat: no-repeat, no-repeat;
        background-size: 100% auto, auto 100%;
        a {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
}

.support-white {
    min-height: 300px;
    background: #ffffff url('../images/bg_assistance.jpg') center bottom no-repeat;
    background-size: auto 275px;
    padding-bottom: 280px;
    &.alt {
        background-image: url('../images/pic_assistant.png'), url('../images/bg_assistance-alt.jpg');
        background-position: center bottom, center center;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 275px, auto 100%;
    }
    .form {
        margin-bottom: 20px;
        input[type="text"],
        textarea {
            border-color: @hose;
            &,
            &::placeholder {
                color: @hose;
            }
        }
    }
    .shifter {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

// Animated caller button
#request-a-call {
    .size(100);
    right: 15px;
    bottom: 20px;
    z-index: 9999;
    position: fixed;
    transform: scale(0.85);
    cursor: pointer;
    transition: transform 0.3s ease;
    -webkit-filter: drop-shadow( 0 5px 4px rgba(0, 0, 0, .3));
    filter: drop-shadow( 0 5px 4px rgba(0, 0, 0, .3));
    &:hover {
        transform: scale(1.2);
    }
}

.dimmed #request-a-call {
    z-index: -1;
}

// To top button
#scroll-to-top {
    .size(40);
    left: 15px;
    bottom: 20px;
    color: @smoky;
    z-index: 9999;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    position: fixed;
    cursor: pointer;
    line-height: 1.7;
    .border-radius(50%);
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// Media queries
@import "media";